# SQL 的五十道練習

> 分組與聚合結果篩選

郭耀仁 <yaojenkuo@datainpoint.com>，[數據交點](https://www.datainpoint.com)

In [1]:
import sqlite3
import unittest
import numpy as np
import pandas as pd
conn = sqlite3.connect('../databases/nba.db')
conn.execute("""ATTACH '../databases/covid19.db' AS covid19""")
conn.execute("""ATTACH '../databases/twElection2020.db' AS twElection2020""")
conn.execute("""ATTACH '../databases/imdb.db' AS imdb""")

## 從新冠肺炎的每日報告資料表 `daily_report` 中以 `Country_Region` 作分組，聚合加總 `Confirmed` 變數，暸解截至 2021-01-31 世界各國的確診人數。選擇 ` Country_Region` 與 `n_confirmed` 欄位，並且以 `n_confirmed` 遞減排序。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(192, 2) 的查詢結果。

```
       Country_Region  n_confirmed
0                  US     26245805
1               India     10757610
2              Brazil      9204731
3      United Kingdom      3828187
4              Russia      3808348
..                ...          ...
187        MS Zaandam            9
188  Marshall Islands            4
189             Samoa            2
190        Micronesia            1
191           Vanuatu            1

[192 rows x 2 columns]
```

In [2]:
sum_n_confirmed_by_country_region =\
"""
-- SQL 查詢語法起點
SELECT Country_Region,
       SUM(Confirmed) AS n_confirmed
  FROM daily_report
 GROUP BY Country_Region
 ORDER BY n_confirmed DESC,
          Country_Region;
-- SQL 查詢語法終點
"""

## 承接上題，從新冠肺炎的每日報告資料表 `daily_report` 中以 `Country_Region` 作分組，聚合加總 `Confirmed` 變數，暸解截至 2021-01-31 世界各國的確診人數。選擇 ` Country_Region` 與 `n_confirmed` 欄位，並且以 `n_confirmed` 遞減排序，只顯示確診人數在 100 萬以上的國家。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(19, 2) 的查詢結果。

```
    Country_Region  n_confirmed
0               US     26245805
1            India     10757610
2           Brazil      9204731
3   United Kingdom      3828187
4           Russia      3808348
5           France      3255920
6            Spain      2743119
7            Italy      2553032
8           Turkey      2477463
9          Germany      2225659
10        Colombia      2094884
11       Argentina      1927239
12          Mexico      1864260
13          Poland      1513385
14    South Africa      1453761
15            Iran      1417999
16         Ukraine      1261546
17            Peru      1138239
18       Indonesia      1078314
```

In [3]:
having_n_confirmed_by_country_region =\
"""
-- SQL 查詢語法起點
SELECT Country_Region,
       SUM(Confirmed) AS n_confirmed
  FROM daily_report
 GROUP BY Country_Region
HAVING n_confirmed > 1000000
 ORDER BY n_confirmed DESC,
          Country_Region;
-- SQL 查詢語法終點
"""

## 從台灣 2020 總統副總統的各投票所得票明細資料表 `presidential` 中以 `number` 作分組，聚合加總 `votes` 變數，暸解台灣 2020 總統副總統的選舉結果，選擇 ` number`、`candidate` 與 `n_votes` 欄位。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(3, 3) 的查詢結果。

```
  number candidate  n_votes
0      1    宋楚瑜/余湘   608590
1      2   韓國瑜/張善政  5522119
2      3   蔡英文/賴清德  8170231
```

In [4]:
sum_votes_by_number =\
"""
-- SQL 查詢語法起點
SELECT number,
       candidate,
       SUM(votes) AS n_votes
  FROM presidential
 GROUP BY number;
-- SQL 查詢語法終點
"""

## 從球員的基本資料表 `players` 中以 `country` 作分組，聚合計算觀測值列數，暸解截至 2021-01-31 NBA 由哪些國家的藍球員所組成，選擇 ` country` 與 `n_players` 欄位，並且以 `n_players` 遞減排序。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(43, 2) 的查詢結果。

```
                   country  n_players
0                      USA        377
1                   Canada         18
2                   France         12
3                Australia          9
4                  Germany          6
5                   Serbia          6
6                  Croatia          4
7                    Spain          4
8                   Turkey          4
9                   Greece          3
10                   Italy          3
11                  Latvia          3
12               Lithuania          3
13                 Nigeria          3
14                 Senegal          3
15                Slovenia          3
16                 Bahamas          2
17                  Brazil          2
18                Cameroon          2
19                   Japan          2
20                 Ukraine          2
21                  Angola          1
22               Argentina          1
23                 Austria          1
24  Bosnia and Herzegovina          1
25          Czech Republic          1
26                     DRC          1
27      Dominican Republic          1
28                   Egypt          1
29                 Finland          1
30                   Gabon          1
31                 Georgia          1
32                  Guinea          1
33                  Israel          1
34                 Jamaica          1
35              Montenegro          1
36             New Zealand          1
37   Republic of the Congo          1
38             Saint Lucia          1
39             South Sudan          1
40                   Sudan          1
41             Switzerland          1
42          United Kingdom          1
```

In [5]:
count_n_players_by_country =\
"""
-- SQL 查詢語法起點
SELECT country,
       COUNT(*) AS n_players
  FROM players
 GROUP BY country
 ORDER BY n_players DESC;
-- SQL 查詢語法終點
"""

## 承接上題，從球員的基本資料表 `players` 中以 `country` 作分組，聚合計算觀測值列數，暸解截至 2021-01-31 NBA 由哪些國家的藍球員所組成，選擇 ` country` 與 `n_players` 欄位，並且以 `n_players` 遞減排序，只顯示 NBA 球員人數剛好是 2 個或 3 個的國家。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(12, 2) 的查詢結果。

```
      country  n_players
0      Greece          3
1       Italy          3
2      Latvia          3
3   Lithuania          3
4     Nigeria          3
5     Senegal          3
6    Slovenia          3
7     Bahamas          2
8      Brazil          2
9    Cameroon          2
10      Japan          2
11    Ukraine          2
```

In [6]:
having_n_players_by_country =\
"""
-- SQL 查詢語法起點
SELECT country,
       COUNT(*) AS n_players
  FROM players
 GROUP BY country
HAVING n_players BETWEEN 2 and 3
 ORDER BY n_players DESC;
-- SQL 查詢語法終點
"""

## 執行測試！

Kernel -> Restart & Run All.

In [8]:
class TestGroupByHaving(unittest.TestCase):
    def test_01_sum_n_confirmed_by_country_region(self):
        n_confirmed_by_country_region = pd.read_sql(sum_n_confirmed_by_country_region, conn)
        self.assertEqual(n_confirmed_by_country_region.shape, (192, 2))
        np.testing.assert_equal(n_confirmed_by_country_region['Country_Region'].values[:5],
                               np.array(['US', 'India', 'Brazil', 'United Kingdom', 'Russia']))
        np.testing.assert_equal(n_confirmed_by_country_region['n_confirmed'].values[:5],
                               np.array([26245805, 10757610, 9204731, 3828187, 3808348]))
        np.testing.assert_equal(n_confirmed_by_country_region['Country_Region'].values[-5:],
                               np.array(['MS Zaandam', 'Marshall Islands', 'Samoa', 'Micronesia', 'Vanuatu']))
        np.testing.assert_equal(n_confirmed_by_country_region['n_confirmed'].values[-5:],
                               np.array([9, 4, 2, 1, 1]))
    def test_02_having_n_confirmed_by_country_region(self):
        n_confirmed_by_country_region = pd.read_sql(having_n_confirmed_by_country_region, conn)
        self.assertEqual(n_confirmed_by_country_region.shape, (19, 2))
        np.testing.assert_equal(n_confirmed_by_country_region['Country_Region'].values[:5],
                               np.array(['US', 'India', 'Brazil', 'United Kingdom', 'Russia']))
        np.testing.assert_equal(n_confirmed_by_country_region['n_confirmed'].values[:5],
                               np.array([26245805, 10757610, 9204731, 3828187, 3808348]))
        np.testing.assert_equal(n_confirmed_by_country_region['Country_Region'].values[-5:],
                               np.array(['South Africa', 'Iran', 'Ukraine', 'Peru', 'Indonesia']))
        np.testing.assert_equal(n_confirmed_by_country_region['n_confirmed'].values[-5:],
                               np.array([1453761, 1417999, 1261546, 1138239, 1078314]))
    def test_03_sum_votes_by_number(self):
        votes_by_number = pd.read_sql(sum_votes_by_number, conn)
        self.assertEqual(votes_by_number.shape, (3, 3))
        np.testing.assert_equal(votes_by_number['number'].values,
                               np.array([1, 2, 3]))
        np.testing.assert_equal(votes_by_number['n_votes'].values,
                               np.array([608590, 5522119, 8170231]))
    def test_04_count_n_players_by_country(self):
        n_players_by_country = pd.read_sql(count_n_players_by_country, conn)
        self.assertEqual(n_players_by_country.shape, (43, 2))
        np.testing.assert_equal(n_players_by_country['country'].values[:5],
                               np.array(['USA', 'Canada', 'France', 'Australia', 'Germany']))
        np.testing.assert_equal(n_players_by_country['n_players'].values[:5],
                               np.array([377, 18, 12, 9, 6]))
    def test_05_having_n_players_by_country(self):
        n_players_by_country = pd.read_sql(having_n_players_by_country, conn)
        self.assertEqual(n_players_by_country.shape, (12, 2))
        np.testing.assert_equal(n_players_by_country['country'].values[:5],
                               np.array(['Greece', 'Italy', 'Latvia', 'Lithuania', 'Nigeria']))
        np.testing.assert_equal(n_players_by_country['n_players'].values[:5],
                               np.array([3, 3, 3, 3, 3]))
        np.testing.assert_equal(n_players_by_country['country'].values[-5:],
                               np.array(['Bahamas', 'Brazil', 'Cameroon', 'Japan', 'Ukraine']))
        np.testing.assert_equal(n_players_by_country['n_players'].values[-5:],
                               np.array([2, 2, 2, 2, 2]))
suite = unittest.TestLoader().loadTestsFromTestCase(TestGroupByHaving)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)

test_01_sum_n_confirmed_by_country_region (__main__.TestGroupByHaving) ... ok
test_02_having_n_confirmed_by_country_region (__main__.TestGroupByHaving) ... ok
test_03_sum_votes_by_number (__main__.TestGroupByHaving) ... ok
test_04_count_n_players_by_country (__main__.TestGroupByHaving) ... ok
test_05_having_n_players_by_country (__main__.TestGroupByHaving) ... ok

----------------------------------------------------------------------
Ran 5 tests in 0.142s

OK

In [9]:
print("您在 {} 道 SQL 練習中答對了 {} 題。".format(number_of_test_runs, number_of_successes))

您在 5 道 SQL 練習中答對了 5 題。