In [1]:
import sqlite3
import numpy as np
import pandas as pd

In [2]:
def create_question_response_table() -> tuple:
    csv_file_path = "kaggle_survey_2022_responses.csv"
    first_two_lines = pd.read_csv(csv_file_path, nrows=1)
    temp_df = pd.read_csv(csv_file_path, skiprows=[1], low_memory=False)
    survey_data = temp_df.drop('Duration (in seconds)', axis=1)
    question_indices = [col_name[0] for col_name in survey_data.columns.str.split("_")]
    question_descriptions = first_two_lines.values.ravel()[1:]
    unique_question_indices = pd.Series(question_indices).unique()
    question_descriptions_split = [desc.split(" - ")[0] for desc in question_descriptions]
    unique_question_descriptions = pd.Series(question_descriptions_split).unique()
    question_types = ["Multiple Response" if "(Select all that apply)" in desc else "Multiple Choice" for desc in unique_question_descriptions]
    question_table = pd.DataFrame()
    question_table["id"] = np.arange(1, unique_question_indices.size + 1)
    question_table["question_index"] = unique_question_indices
    question_table["type"] = question_types
    question_table["description"] = unique_question_descriptions
    n_rows = survey_data.shape[0]
    survey_data.insert(0, "id", np.arange(1, n_rows + 1))
    response_table = pd.melt(survey_data, id_vars="id", var_name="question_index", value_name="response").dropna()
    question_indices = [qi[0] for qi in response_table["question_index"].str.split("_")]
    response_table["question_index"] = question_indices
    merge_response_question_table = pd.merge(response_table, question_table[["id", "question_index"]], left_on="question_index", right_on="question_index")
    response_table = merge_response_question_table[["id_x", "id_y", "response"]]
    response_table.columns = ["respondant_id", "question_id", "choice"]
    return question_table, response_table

In [3]:
questions, responses = create_question_response_table()

In [4]:
questions

,id,question_index,type,description
0,1,Q2,Multiple Choice,What is your age (# years)?
1,2,Q3,Multiple Choice,What is your gender?
2,3,Q4,Multiple Choice,In which country do you currently reside?
3,4,Q5,Multiple Choice,"Are you currently a student? (high school, uni..."
4,5,Q6,Multiple Response,On which platforms have you begun or completed...
5,6,Q7,Multiple Response,What products or platforms did you find to be ...
6,7,Q8,Multiple Choice,What is the highest level of formal education ...
7,8,Q9,Multiple Choice,Have you ever published any academic research ...
8,9,Q10,Multiple Choice,Did your research make use of machine learning?
9,10,Q11,Multiple Choice,For how many years have you been writing code ...
10,11,Q12,Multiple Response,What programming languages do you use on a reg...
11,12,Q13,Multiple Response,Which of the following integrated development ...
12,13,Q14,Multiple Response,Do you use any of the following hosted noteboo...
13,14,Q15,Multiple Response,Do you use any of the following data visualiza...
14,15,Q16,Multiple Choice,For how many years have you used machine learn...
15,16,Q17,Multiple Response,Which of the following machine learning framew...
16,17,Q18,Multiple Response,Which of the following ML algorithms do you us...
17,18,Q19,Multiple Response,Which categories of computer vision methods do...
18,19,Q20,Multiple Response,Which of the following natural language proces...
19,20,Q21,Multiple Response,Do you download pre-trained model weights from...
20,21,Q22,Multiple Choice,Which of the following ML model hubs/repositor...
21,22,Q23,Multiple Choice,Select the title most similar to your current ...
22,23,Q24,Multiple Choice,In what industry is your current employer/cont...
23,24,Q25,Multiple Choice,What is the size of the company where you are ...
24,25,Q26,Multiple Choice,Approximately how many individuals are respons...
25,26,Q27,Multiple Choice,Does your current employer incorporate machine...
26,27,Q28,Multiple Response,Select any activities that make up an importan...
27,28,Q29,Multiple Choice,What is your current yearly compensation (appr...
28,29,Q30,Multiple Choice,Approximately how much money have you spent on...
29,30,Q31,Multiple Response,Which of the following cloud computing platfor...
30,31,Q32,Multiple Choice,Of the cloud platforms that you are familiar w...
31,32,Q33,Multiple Response,Do you use any of the following cloud computin...
32,33,Q34,Multiple Response,Do you use any of the following data storage p...
33,34,Q35,Multiple Response,Do you use any of the following data products ...
34,35,Q36,Multiple Response,Do you use any of the following business intel...
35,36,Q37,Multiple Response,Do you use any of the following managed machin...
36,37,Q38,Multiple Response,Do you use any of the following automated mach...
37,38,Q39,Multiple Response,Do you use any of the following products to se...
38,39,Q40,Multiple Response,Do you use any tools to help monitor your mach...
39,40,Q41,Multiple Response,Do you use any of the following responsible or...
40,41,Q42,Multiple Response,Do you use any of the following types of speci...
41,42,Q43,Multiple Choice,Approximately how many times have you used a T...
42,43,Q44,Multiple Response,Who/what are your favorite media sources that ...

In [5]:
responses

        respondant_id  question_id choice
0                   1            1  30-34
1                   2            1  30-34
2                   3            1  18-21
3                   4            1  55-59
4                   5            1  45-49
...               ...          ...    ...
834427          23815           43  Other
834428          23839           43  Other
834429          23987           43  Other
834430          23989           43  Other
834431          23997           43  Other

[834432 rows x 3 columns]

In [6]:
con = sqlite3.connect('KaggleSurvey2022.db')
questions.to_sql('questions', con, if_exists='replace', index=False)
responses.to_sql('responses', con, if_exists='replace', index=False)
cur = con.cursor()

In [7]:
create_questions = """
PRAGMA foreign_keys=off;
BEGIN TRANSACTION;
ALTER TABLE questions RENAME TO questions_no_keys;
CREATE TABLE questions (
    id INTEGER,
    question_index INTEGER,
    type TEXT,
    description TEXT,
    PRIMARY KEY (id)
);
INSERT INTO questions SELECT * FROM questions_no_keys;
COMMIT;
PRAGMA foreign_keys=on;
"""
cur.executescript(create_questions)
con.commit()

In [8]:
create_responses = """
PRAGMA foreign_keys=off;
BEGIN TRANSACTION;
ALTER TABLE responses RENAME TO responses_no_keys;
CREATE TABLE responses (
    respondant_id INTEGER,
    question_id INTEGER,
    choice TEXT,
    FOREIGN KEY (question_id) REFERENCES questions (id) 
            ON DELETE CASCADE ON UPDATE NO ACTION
);
INSERT INTO responses SELECT * FROM responses_no_keys;
COMMIT;
PRAGMA foreign_keys=on;
"""
cur.executescript(create_responses)
con.commit()

In [9]:
drop_tables = """
DROP TABLE questions_no_keys;
DROP TABLE responses_no_keys;
"""
cur.executescript(drop_tables)
con.commit()

In [10]:
con.close()